################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SilentStarter/bin
/SilentStarter/obj
/.vs